<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeh4_wKhet8E0Lchx8V8ijN5Y-vAI5JGk</string>
	<key>GCM_SENDER_ID</key>
	<string>494353889582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metehanolgun.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-57f15</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-57f15.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494353889582:ios:b1bbf2b3f6edae8fbee2bf</string>
</dict>
</plist>